{% extends "layout.html" %} {% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="test_bg">
        <div class="container-fluid" id="tool_container">
            <div id="titles">
                <h1 style="text-align: center;">Serious effectiveness.</h1> 
                <h3 style="text-align: center;">Because your time matters.</h3>
            </div>
            <div id="toolsinfo">
                <div class="row">
                    <div class="col-4">
                        <div class="card"  id="tool_1">
                            <img src="https://png.pngtree.com/background/20210714/original/pngtree-abstract-backgrounds-abstract-paintings-brush-strokes-colorful-abstracts-beautiful-abstract-grunge-picture-image_1251864.jpg" alt="Eficiency is the clever of lazyness" class="card-img-top"/>
                            <div class="card-body">
                                <h5 class="card-title">Mse-t</h5>
                                <p class="card-text">Multiple search engines across threads. An efficient tool to perform multiple internet searches simultaneously.</p>
                                <a href="http://localhost:5000/mse-t" class="btn btn-primary">mse-t</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card"  id="tool_3">
                            <img src="https://i.pinimg.com/originals/80/40/94/8040948bea19b43fbe36018f31769305.jpg" alt="Eficiency is the clever of lazyness" class="card-img-top"/>
                            <div class="card-body">
                                <h5 class="card-title">Daily logistics</h5>
                                <p class="card-text">Our system is designed for those who want to organize themselves with a high degree of specificity.</p>
                                <button class="btn btn-primary" disabled>Daily logistics</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card"  id="tool_2">
                            <img src="https://t1.up.ltmcdn.com/es/posts/8/9/1/arte_abstracto_caracteristicas_principales_2198_600.jpg" alt="Eficiency is the clever of lazyness" class="card-img-top"/>
                            <div class="card-body">
                                <h5 class="card-title">IA bookworm</h5>
                                <p class="card-text">This artificial intelligence can summarize and paraphrase book chapters.</p>
                                <button class="btn btn-primary" disabled>IA bookworm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</body>
{% endblock %}


  
 
