{% extends "layout.html" %} {% block content %}
<body>
    <div id="contact_body">
        <div class="wrapper">
            <header>¡Send us a Message!
              <p style="font-size: medium; color: grey;">Let us know if you have an idea for our tool section, or an artist that wants to place its paintings on our webpage!</p>
            </header>
            <form action="#">
              <div class="dbl-field">
                <div class="field">
                  <input type="text" name="name" placeholder="Enter your name">
                  <i class='fas fa-user'></i>
                </div>
                <div class="field">
                  <input type="text" name="email" placeholder="Enter your email">
                  <i class='fas fa-envelope'></i>
                </div>
              </div>
              <div class="dbl-field">
                <div class="field">
                  <input type="text" name="phone" placeholder="Enter your phone">
                  <i class='fas fa-phone-alt'></i>
                </div>
                <div class="field">
                  <input type="text" name="website" placeholder="Enter your website">
                  <i class='fas fa-globe'></i>
                </div>
              </div>
              <div class="message">
                <textarea placeholder="Write your message" name="message"></textarea>
              </div>
              <div class="button-area">
                <button type="submit">Send Message</button>
                <span>Sending your message...</span>
              </div>
            </form>
          </div>
    </div>
  <script src="script.js"></script>

</body>
</html>

{% endblock %}